name: schedule sign-attestations

on:
  # Daily run.
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

permissions: read-all

env:
  GH_TOKEN: ${{ github.token }}
  ISSUE_REPOSITORY: ${{ github.repository }}

jobs:
  sign-attestations:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - id: setup
        uses: ./.github/actions/sign-attestations
        with:
          attestations: .github/actions/sign-attestations/testdata/attestations
          output-folder: outputs
      - name: Setup node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: 16
      - name: install sigstore-js
        run: npm ci
      # TODO: Add subject verification. This only verifies the signature on the DSSE envelope.
      - name: run verify
        working-directory: outputs
        run: |
          for file in *; do
            ./node_modules/.bin/sigstore verify $file
          done

  if-succeed:
    needs: [sign-attestations]
    runs-on: ubuntu-latest
    # We use `== 'failure'` instead of ` != 'success'` because we want to ignore skipped jobs, if there are any.
    if: github.event_name != 'workflow_dispatch' && needs.sign-attestations.result != 'failure'
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          repository: slsa-framework/example-package
          ref: main
      - run: ./.github/workflows/scripts/e2e-report-success.sh

  if-failed:
    needs: [sign-attestations]
    runs-on: ubuntu-latest
    if: always() && github.event_name != 'workflow_dispatch' && needs.sign-attestations.result == 'failure'
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          repository: slsa-framework/example-package
          ref: main
      - run: ./.github/workflows/scripts/e2e-report-failure.sh
