name: pre-submit e2e go ldflags main dir

on:
  pull_request:
    branches: [main]
  merge_group:
  workflow_dispatch:

permissions: read-all

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  args:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.ldflags.outputs.version }}
      commit: ${{ steps.ldflags.outputs.commit }}
      branch: ${{ steps.ldflags.outputs.branch }}
    steps:
      - id: ldflags
        run: |
          set -euo pipefail

          echo "version=-X main.gitVersion=v1.2.3" >> "$GITHUB_OUTPUT"
          echo "commit=-X main.gitCommit=abcdef" >> "$GITHUB_OUTPUT"
          echo "branch=-X main.gitBranch=main" >> "$GITHUB_OUTPUT"

  build:
    needs: [args]
    permissions:
      id-token: write # For signing.
      contents: write # For asset uploads.
      actions: read # For the entry point.
    uses: ./.github/workflows/builder_go_slsa3.yml
    with:
      go-version: "1.20"
      config-file: .github/workflows/configs-go/config-ldflags-main-dir.yml
      evaluated-envs: "VERSION:${{needs.args.outputs.version}},COMMIT:${{needs.args.outputs.commit}},BRANCH:${{needs.args.outputs.branch}}"
      compile-builder: true

  verify:
    # NOTE: this name is used as the status check name and by protected
    # branches for required status checks. It should have a unique name among
    # other pre-submits.
    name: verify go provenance
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
      - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: ${{ needs.build.outputs.go-binary-name }}
      - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: ${{ needs.build.outputs.go-binary-name }}.intoto.jsonl
      - env:
          BINARY: ${{ needs.build.outputs.go-binary-name }}
          PROVENANCE: ${{ needs.build.outputs.go-binary-name }}.intoto.jsonl
        run: ./.github/workflows/scripts/pre-submit.e2e.go.default.sh
