name: pre-submit actions

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  checkout:
    name: verify no checkout in Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: |
      
          set -euo pipefail

          # Verify that no internal Actions are using `actions/checkout`
          # See reasoning in ./github/actions/README.md

          # Note: splitting command in two to avoid using pipe because
          # we set -o pipefail option and grep returns 1 when there is no match

          results=$(grep -r --include='*.yml' --include='*.yaml' -e 'actions/checkout@\|actions/checkout-go@' .github/actions/*)
          results=$(grep -v 'checkout-go\|generate-builder' <<<$results)
          if [[ "$results" != "" ]]; then
              echo "Some Actions are using 'actions/checkout'"
              echo "$results"
              exit -1
          fi
