name: unit tests

on:
  push:
    branches: [main, "*"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
  workflow_dispatch:

permissions: read-all

jobs:
  pre-submit:
    # NOTE: this name is used as the status check name and by protected
    # branches for required status checks. It should have a unique name among
    # other pre-submits.
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2
      - name: setup-go
        uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # tag=v3.2.0
        with:
          go-version: "1.18"

      - name: detect-workflow tests
        run: |
          set -euo pipefail

          cd .github/actions/detect-workflow

          # Download dependencies.
          go mod vendor

          # Test.
          go test -mod=vendor -v ./...

      - name: Generic API tests
        run: |
          set -euo pipefail

          # Download dependencies.
          go mod vendor

          # Test.
          go test -mod=vendor -v ./...

      - name: Go builder tests
        run: |
          set -euo pipefail

          # Go tests.
          cd internal/builders/go/

          # Download dependencies.
          go mod vendor

          # Build.
          go build -mod=vendor

          # Tests.
          go test -mod=vendor -v ./...
