name: pre-submit actions

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions: read-all

jobs:
  checkout:
    name: verify no checkout in Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - run: ./.github/workflows/scripts/pre-submit.actions/checkout.sh

  check-dist-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        action:
          - .github/actions/compute-sha256
          - .github/actions/privacy-check
          - ./actions/setup-token
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0

      - name: Set Node.js 16
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3.5.1
        with:
          node-version: 16

      - name: Rebuild the dist/ directory
        working-directory: ${{ matrix.action }}
        run: make package

      - name: Compare the expected and actual dist/ directories
        working-directory: ${{ matrix.action }}
        id: diff
        run: |
          set -euo pipefail
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi

      # If index.js was different from expected, upload the expected version as an artifact
      - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        if: ${{ failure() && steps.diff.conclusion == 'failure' }}
        with:
          name: dist
          path: dist/

  # NOTE: needed for protected branch checks.
  check-dist:
    runs-on: ubuntu-latest
    needs: [checkout, check-dist-matrix]
    if: ${{ always() }}
    env:
      CHECKOUT_RESULT: ${{ needs.checkout.result }}
      CHECK_DIST_RESULT: ${{ needs.check-dist-matrix.result }}
    steps:
      - run: |
          set -euo pipefail
          # exit 0 if checks were successful.
          [ "${CHECK_DIST_RESULT}" == "success" ] && [ "${CHECKOUT_RESULT}" == "success" ]

  compute-sha256:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - run: |
          echo "foo" > artifact
      - id: compute-sha256
        uses: ./.github/actions/compute-sha256
        with:
          path: artifact
      - env:
          OUTPUT: ${{steps.compute-sha256.outputs.sha256}}
        run: |
          [[ "$OUTPUT" == "b5bb9d8014a0f9b1d61e21e796d78dccdf1352f23cd32812f4850b878ae4944c" ]]

  rng:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - run: |
          echo "foo" > artifact
      - id: rng
        uses: ./.github/actions/rng
      - env:
          OUTPUT: ${{steps.rng.outputs.random}}
        run: |
          echo "Got output: $OUTPUT"
          [[ "$OUTPUT" != "" ]]

  setup-token:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0
      - id: setup
        uses: ./actions/setup-token
        with:
          slsa-workflow-recipient: "delegator_generic_slsa3.yml"
          slsa-private-repository: true
          slsa-runner-label: "ubuntu-latest"
          slsa-build-action-path: "./actions/build-artifacts-composite"
          slsa-workflow-inputs: "{\"name1\":\"value1\",\"name2\":\"value2\",\"private-repository\":true}"

      - env:
          SLSA_TOKEN: ${{ steps.setup.outputs.slsa-token }}
          CONTEXT: ${{ github.context }}
        run: |
          set -euo pipefail

          # NOTE: this is a pre-submit, so the signature is not generated and there is
          # just a place holder for it.
          echo "SLSA_TOKEN: $SLSA_TOKEN"
          [[ "$SLSA_TOKEN" != "" ]]

          b64_token="$(echo -n $SLSA_TOKEN | cut -d '.' -f2)"
          echo "b64_token:"
          echo "$b64_token"

          decoded_token="$(echo $b64_token | base64 -d)"
          echo "decoded_token:"
          echo "$decoded_token"

          audience=$(echo "$decoded_token" | jq -r '.builder.audience')
          runner_label=$(echo "$decoded_token" | jq -r '.builder."runner-label"')
          private_repository=$(echo "$decoded_token" | jq -r '.builder."private-repository"')
          action_path=$(echo "$decoded_token" | jq -r '.tool.actions."build-artifacts".path')
          inputs=$(echo "$decoded_token" | jq -r '.tool.inputs' -c)
          
          [[ "$audience" == "delegated_generic_slsa3.yml" ]]
          [[ "$runner_label" == "ubuntu-latest" ]]
          [[ "$private_repository" == "true" ]]
          [[ "$action_path" == "./actions/build-artifacts-composite" ]]
          [[ "$inputs" == "{\"name1\":\"value1\",\"name2\":\"value2\",\"private-repository\":true}" ]]

  references:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          path: __THIS_REPO__
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          repository: slsa-framework/example-package
          ref: main
          path: __EXAMPLE_PACKAGE__
      - name: Verify main references
        if: ${{ !contains(github.event.pull_request.body, '#label:release') }}
        run: ./__THIS_REPO__/.github/workflows/scripts/pre-submit.actions/references.sh
      - name: Verify version references
        if: ${{ contains(github.event.pull_request.body, '#label:release') }}
        env:
          BODY: "${{ github.event.pull_request.body }}"
        run: |
          # match the first instance of a line with 'label:release vX.Y.Z' with only leading or trailing whitespace.
          set -euo pipefail
          # NOTE: grep is not matching if there is a trailing '$' in the pattern for some reason...
          RELEASE_TAG=$(echo "$BODY" | grep -oe '^[[:blank:]]*#label:release[[:blank:]]*v[0-9]\+\.[0-9]\+\.[0-9]\+\(-rc\.[0-9]\+\)\?[[:blank:]]*' | head -n1 | sed -n 's/^[[:blank:]]*#label:release[[:blank:]]*\([^[:blank:]]*\)[[:blank:]]*/\1/p')
          RELEASE_TAG=${RELEASE_TAG} ./__THIS_REPO__/.github/workflows/scripts/pre-release/references.sh

  secure-project-checkout-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          path: __BUILDER_CHECKOUT_DIR__

      - name: Checkout the Go repository
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-project-checkout-go
        with:
          path: __PROJECT_CHECKOUT_DIR__
          go-version: 1.18

  secure-project-checkout-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          path: __BUILDER_CHECKOUT_DIR__

      - name: Checkout the Go repository
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-project-checkout-node
        with:
          path: __PROJECT_CHECKOUT_DIR__
          go-version: 16

  secure-download-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          path: __BUILDER_CHECKOUT_DIR__

      - name: Create artifact
        run: |
          echo artifact > artifact1

      - name: Upload generated binary
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-upload-artifact
        with:
          name: artifact1
          path: artifact1

      - name: Create artifact
        run: rm artifact1

      - name: Download artifact
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-download-artifact
        with:
          name: artifact1
          path: artifact1
          sha256: 5b3513f580c8397212ff2c8f459c199efc0c90e4354a5f3533adf0a3fff3a530

  secure-download-artifact-builder-name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          path: __BUILDER_CHECKOUT_DIR__

      - name: Create artifact
        run: |
          echo artifact > artifact2

      - name: Upload generated binary
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-upload-artifact
        with:
          name: artifact2
          path: artifact2

      - name: Download artifact
        id: download-artifact
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-download-artifact
        continue-on-error: true
        with:
          name: artifact2
          path: path/to/__BUILDER_CHECKOUT_DIR__/artifact2
          sha256: 5b3513f580c8397212ff2c8f459c199efc0c90e4354a5f3533adf0a3fff3a530

      - name: fail check
        env:
          OUTCOME: ${{ steps.download-artifact.outcome }}
        run: |
          set -euo pipefail
          [ "${OUTCOME}" == "failure" ]

  secure-download-artifact-builder-repo-folder:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          path: __BUILDER_CHECKOUT_DIR__

      - name: Create artifact and folder
        run: |
          mkdir some-folder
          echo artifact > artifact3

      - name: Upload generated binary
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-upload-artifact
        with:
          name: artifact3
          path: artifact3

      - name: Download artifact
        id: download-artifact
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-download-artifact
        continue-on-error: true
        with:
          name: artifact3
          path: some-folder
          sha256: 5b3513f580c8397212ff2c8f459c199efc0c90e4354a5f3533adf0a3fff3a530

      - name: fail check
        env:
          OUTCOME: ${{ steps.download-artifact.outcome }}
        run: |
          set -euo pipefail
          [ "${OUTCOME}" == "failure" ]

  secure-download-artifact-builder-repo-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          path: __BUILDER_CHECKOUT_DIR__

      - name: Create artifact
        run: |
          echo artifact > artifact4

      - name: Upload generated binary
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-upload-artifact
        with:
          name: artifact4
          path: artifact4

      - name: Download artifact
        id: download-artifact
        uses: ./__BUILDER_CHECKOUT_DIR__/.github/actions/secure-download-artifact
        continue-on-error: true
        with:
          name: artifact4
          path: artifact4
          sha256: 5b3513f580c8397212ff2c8f459c199efc0c90e4354a5f3533adf0a3fff3a530

      - name: fail check
        env:
          OUTCOME: ${{ steps.download-artifact.outcome }}
        run: |
          set -euo pipefail
          [ "${OUTCOME}" == "failure" ]

  # Tests that generate-builder works with compile-builder=true.
  generate-builder-generic-compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: ./.github/actions/generate-builder
        with:
          repository: "slsa-framework/slsa-github-generator"
          ref: "main"
          compile-builder: true
          go-version: 1.18
          binary: "slsa-generator-generic-linux-amd64"
          directory: "internal/builders/generic"

  # Tests that generate-builder works with compile-builder=false.
  generate-builder-generic-no-compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: ./.github/actions/generate-builder
        with:
          repository: "slsa-framework/slsa-github-generator"
          ref: "refs/tags/v1.2.2"
          go-version: 1.18
          binary: "slsa-generator-generic-linux-amd64"
          directory: "internal/builders/generic"
          # NOTE: compile-builder explicitly set to false.
          compile-builder: false
