name: pre-submit actions

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions: read-all

jobs:
  checkout:
    name: verify no checkout in Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2
      - run: |

          set -euo pipefail

          # Verify that no internal Actions are using `actions/checkout`
          # See reasoning in ./github/actions/README.md

          # Split the command to ignore the `1` error `grep` returns when there is no match.
          results=$(grep -r --include='*.yml' --include='*.yaml' -e 'actions/checkout@\|actions/checkout-go@\|actions/checkout-node@' .github/actions/* || true)
          results=$(grep -v 'checkout-go\|generate-builder' <<<"$results" || true)
          if [[ "$results" != "" ]]; then
              echo "Some Actions are using 'actions/checkout'"
              echo "$results"
              exit -1
          fi

  check-dist-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        action: [compute-sha256, privacy-check]
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - name: Set Node.js 16
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93 # tag=v3.4.1
        with:
          node-version: 16

      - name: Rebuild the dist/ directory
        working-directory: .github/actions/${{ matrix.action }}
        run: make package

      - name: Compare the expected and actual dist/ directories
        working-directory: .github/actions/${{ matrix.action }}
        id: diff
        run: |
          set -euo pipefail
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi

      # If index.js was different from expected, upload the expected version as an artifact
      - uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
        if: ${{ failure() && steps.diff.conclusion == 'failure' }}
        with:
          name: dist
          path: dist/

  # NOTE: needed for protected branch checks.
  check-dist:
    runs-on: ubuntu-latest
    needs: [checkout, check-dist-matrix]
    if: ${{ always() }}
    env:
      CHECKOUT_RESULT: ${{ needs.checkout.result }}
      CHECK_DIST_RESULT: ${{ needs.check-dist-matrix.result }}
    steps:
      - run: |
          # exit 0 if checks were successful.
          [ "${CHECK_DIST_RESULT}" == "success" ] && [ "${CHECKOUT_RESULT}" == "success" ]
