name: markdown

on:
  push:
    branches: [main, "*"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read # Needed to check out the repo.

jobs:
  markdow-toc:
    name: markdown-toc
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js 16
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3.5.1
        with:
          node-version: 16
      - name: Install markdown-toc
        run: npm install markdown-toc
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - name: markdown-toc
        run: ./.github/workflows/scripts/pre-submit.markdown/markdown-toc.sh
