name: pre-submit actions

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  checkout:
    name: verify no checkout in Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - run: .github/workflows/scripts/pre-submit.actions.checkout.sh
      
          
